@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

@media all {
    body{
        background-color: #FFA07A;
    }
}
@media all and (min-width: 639px){
    body{
        background-color: #20B2AA;
    }
}

@media all and (min-width:1024px) {
    body {background-color:#87CEFA}
}