*{
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 10px;
}
ul{
    margin-top: 15px;
}
li{
    list-style: none;
    padding: 5px 0;

}
span.subheading{
    font-weight: 700;
    font-size: 1.2rem;
}
#box{
    background-color: orange;
    box-sizing: border-box; /* 다른 html이면 #box가 아니라 *에 넣을 것 */
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    position : relative;
}
#x{
    position: absolute;
    right: 20px;
    /*float: right;*/
}
